<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chat.mapper.ChatGroupInfoMapper" >
  <resultMap id="BaseResultMap" type="com.chat.bean.chat.ChatGroupInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="u_img" property="uImg" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="group_number" property="groupNumber" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, group_name,u_img, create_date, create_by, introduce, group_number
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from group_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from group_info
  </select>

  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from group_info i
    left join group_user_map m on m.g_id = i.id
    where m.u_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectByGroupNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from group_info
    where group_number = #{groupNumber,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from group_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.chat.bean.chat.ChatGroupInfo" >
    insert into group_info (id, group_name, u_img, create_date,
      create_by, introduce, group_number
      )
    values (#{id,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR},#{uImg,jdbcType=VARCHAR},
            #{createDate,jdbcType=TIMESTAMP},#{createBy,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR},
            #{groupNumber,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.chat.bean.chat.ChatGroupInfo" >
    insert into group_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="uImg != null" >
        u_img,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="groupNumber != null" >
        group_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="uImg != null" >
        #{uImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="groupNumber != null" >
        #{groupNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.chat.bean.chat.ChatGroupInfo" >
    update group_info
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="uImg != null" >
        u_img = #{uImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="groupNumber != null" >
        group_number = #{groupNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.chat.bean.chat.ChatGroupInfo" >
    update group_info
    set group_name = #{groupName,jdbcType=VARCHAR},
        u_img = #{uImg,jdbcType=VARCHAR},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=VARCHAR},
        introduce = #{introduce,jdbcType=VARCHAR},
        group_number = #{groupNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>